body {
    background-color: #1D4221;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

main {
    text-align: center;
    max-width: 90%; /* Limita o tamanho do bloco na tela */
}

img {
    max-width: 90%; /* Garante que a imagem não fique gigante e não quebre a tela */
    border-radius: 10px; /* Deixa as bordas da imagem arredondadas e bonitas */
    margin-bottom: 15px;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    transition: background 0.3s;
}

button:hover {
    background-color: #4e820e;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}
